<p>
  <%= label_tag nil, l('easyauth.setting.enabled') %>
  <%= check_box_tag 'settings[enabled]', true, @settings['enabled'] %>
</p>
<p>
  <%= label_tag nil, l('easyauth.setting.auto_registration') %>
  <%= check_box_tag 'settings[auto_registration]', true, @settings['auto_registration'] %>
</p>
<p>
  <%= label_tag nil, l('easyauth.setting.allowed_principal_list') %>
  <%= text_field_tag 'settings[allowed_principal_list]', @settings['allowed_principal_list'], :size => 80 %>
</p>
<p>
  <%= label_tag nil, l('easyauth.setting.announcement') %>
  <%= text_area_tag "settings[announcement]", @settings['announcement'], :rows => 5 %>
</p>
<p>
  <%= label_tag nil, l('easyauth.setting.mail_org_rules') %>
  <%= text_area_tag "settings[mail_org_rules]", @settings['mail_org_rules'], :rows => 5, :placeholder => "# Comment\n@foo\\.example\\.com$ [FOO]\n@bar\\.example\\.org$ [BAR]" %>
  <em class="info"><%= l('easyauth.help.mail_org_rules') %></em>
</p>
